/* a-ra pakolt pszeudo-elemek: link, visited, hover, active */

a:link {
    text-decoration: line-through;
    color: red;
}

a:visited {
    text-decoration: line-through;
    color: dodgerBlue;
}

a:hover {
    text-decoration: overline;
    color: mediumseagreen;
}

a:active {
    text-decoration: none;
    color: yellow;
}

table, th, td {
    border: 2px solid dodgerBlue;
}

table {
    /* Határoló vonalak összeroppantása. */
    /* border-collapse: collapse; */
    /* Határoló vonalak eltávolítása, ha nincs border-collapse. */
    border-spacing: 20px;
    /* Üres cellaelemek eltüntetése. */
    empty-cells: hide;
}

th, td {
    padding: 20px;
}

/* Páratlan elemek háttérszíne. */
tr:nth-child(odd) {
    background-color: lightGreen;
}

/* Sorra ráhúzom az egeret, 'lebegtetem' felette. */
/* tr:hover {
    background-color: #000;
    color: #fff;
    font-size: 2em;
} */

caption {
    margin: 20px 0px;
    text-decoration: underline dashed red;
}

ul {
    /* Lista elem jelölő megváltoztatása: disc, circle, square, none */
    /* list-style-type: circle; */
    list-style-image: url('./favicon.ico');
}

ul#lila {
    list-style-image: url('./sqpurple.gif');
}

ul#lila li a:link {
    text-decoration: none;
    color: blue;
}

ul#lila li a:visited {
    text-decoration: none;
    color: tomato;
}

ul#lila li a:hover {
    text-decoration: none;
    color: aliceblue;
}

ul#lila li a:active {
    text-decoration: none;
    color: lightcoral;
}